.top_navigation {
  background-color: var(--bg-primary);
  padding: 0 5em;
  display: flex;
  align-items: center;
}

.top_nav_bar:last-child {
  margin-left: auto;
}

.top_nav_item {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.logout_button {
  font-size: 1.5em;
  color: white;
}

.logout_button a {
  font-family: inherit;
  text-decoration: none;
}

.logout_button a:visited {
  color: inherit;
}
