.expense-table {
  margin: 10px 20px;
}

.expense-table-header {
  border: 1px solid #6649b8;
  background-color: #6649b8;
  padding: 15px 10px;
  color: white;
}

.expense-table-content {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 300px;
}

.expense-footer {
  border: 1px solid #6649b8;
  background-color: #6649b8;
  padding: 15px 10px;
  color: white;
}

.expense-data {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-size: 1.75em;
}

.btn-save-expense {
  font-size: 1.25em;
  padding: 10px 5px;
  width: 100%;
}

.expense-data button {
  width: 100px;
}

.expense-name {
  width: 400px;
}

.expense-cost {
  width: 100px;
}
